<h1>Your mood is <%= @mood %></h1> 

<p>Here are pictures for <%= @mood %></p>

<% @url_array.each do |url| %>
	<img src="<%=url%>" width="300px">
<% end %>

<link rel="stylesheet" type="text/css" href="style.css">