title {
  color: black;
  font-size: 500px;
  font-family: arial;
  text-align: center;
}
body {
  color: red;
  background-color: #00FFFF;
  text-align: center;
}

h1 {
  color: blue;
  font-size: 50px;
  font-family: arial;
  text-align: center;

}

h2 {
  text-align: center;
}

.header {
  text-align: center;
}

.home-pic {
  text-align: center;
}

img {
  border-style: solid;
  border width: 10;
  border color: 005500;
  border-radius: 10px;
}

form {
  color: blue;
}